* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 1fr 4fr;
    height: 100vh;
}



.main-content {
    background-color: darkgreen;
}


a {
    width: 3vw;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

/* Sidebar start */
.sidebar {
    background-color: #0284c7;
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-gap: 35px;
    font-family: sans-serif;
}


.dashboard {
    padding-top: 15px;
    padding-left: 10px;
}

#text-icon {
    margin-left: 10px;
    font-size: 2vw;
}



.icons {
    width: 25px;
}

li {
    list-style-type: none;
    padding-top: 30px;
}

.icon-element {
    display: flex;
    width: 25px;
    align-items: center;

}

.second-section-div {
    display: grid;
    grid-row: 3/4;
    padding: 30px;
}

.second-section li {
    padding-top: 30px;
}

.side-bar-first-section {
    padding: 30px;
    grid-row: 2/3;
}

.icon-text {
    color: white;
    margin-left: 15px;
    font-size: 20px;
}

#icon-text {
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
}

/* Sidebar End */



/* Header Start */


#search-icon {
    width: 1.5vw;
    margin-right: 15px;
    justify-self: center;
}

#bell-icon {
    width: 1.6vw;
}

#bee-photo {
    width: 3vw;
    border-radius: 50%;
}





#search {
    width: 33vw;
    border-radius: 15px;
    border: none;
    height: 30px;
    background-color: #e2e8f0;
}

.header {
    background-color: brown;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: #fafaf9;
}



#profile-down-image {
    width: 5vw;
    border-radius: 100px;
}

.profile-name {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 1vw;
}

.search-bar {
    display: flex;
}

.header-up-first-section {
    width: 45%;
    justify-content: center;
}

.header-up-second-section {
    justify-content: space-around;
    width: 20vw;
    margin-right: 20px;
}

.header-up-first-section,
.header-up-second-section {
    display: flex;
    align-items: center;
}

.header-up-side {
    display: flex;
    padding: 15px 0 0 30px;
    justify-content: space-between;
    align-items: center;
}

.hi-text {
    font-size: 18px;
}

.profile-text {
    margin-left: 20px;
    font-family: 'Heebo', sans-serif;

}

.header-down-side {
    display: flex;
    align-items: center;
}

.profile-text-down {
    display: flex;
    font-size: 25px;
}

.profile-down-side {
    padding: 20px;
    display: flex;
    align-items: center;
    width: 35%;
    justify-content: center;
}

/* Header End */