* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 1fr 4fr;
}

.sidebar {
    background-color: cornflowerblue;
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
}

.side-bar-first-section {
    padding: 10px;
    grid-row: 2/3;
}

.header {
    background-color: brown;
}

.main-content {
    background-color: darkgreen;
}

a {
    width: 3vw;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.dashboard {
    padding-top: 15px;
}

#text-icon {
    margin-left: 10px;
    font-size: 2vw;
}

.icons {
    width: 30px;
}

li {
    list-style-type: none;
    padding-top: 10px;
}

.icon-element {
    display: flex;
    width: 30px;
    align-items: center;

}

.second-section-div {
    display: grid;
    grid-row: 3/4;
    padding: 10px;
}



.icon-text {
    color: white;
    margin-left: 15px;
    font-size: 1em;
}

#icon-text {
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}