* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 1fr 4fr;
    height: 100vh;
}





a {
    width: 3vw;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

/* Sidebar start */
.sidebar {
    background-color: #0284c7;
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-gap: 35px;
    font-family: sans-serif;
    max-width: 100%;
    min-width: 50%;
}


.dashboard {
    padding-top: 15px;
    padding-left: 10px;
}

#text-icon {
    margin-left: 10px;
    font-size: 2vw;
}



.icons {
    width: 25px;
}

li {
    list-style-type: none;
    padding-top: 30px;
}

.icon-element {
    display: flex;
    width: 25px;
    align-items: center;

}

.second-section-div {
    display: grid;
    grid-row: 3/4;
    padding: 30px;
}

.second-section li {
    padding-top: 30px;
}

.side-bar-first-section {
    padding: 30px;
    grid-row: 2/3;
}

.icon-text {
    color: white;
    margin-left: 15px;
    font-size: 20px;
}

#icon-text {
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
}

/* Sidebar End */



/* Header Start */


#search-icon {
    width: 1.5vw;
    margin-right: 15px;
    justify-self: center;
}

#bell-icon {
    width: 1.6vw;
}

#bee-photo {
    width: 3vw;
    border-radius: 50%;
}





#search {
    width: 30vw;
    border-radius: 15px;
    border: none;
    height: 30px;
    background-color: #e2e8f0;
}

.header {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: #fafaf9;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}



#profile-down-image {
    width: 5vw;
    border-radius: 100px;
}

.profile-name {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 1vw;
}

.search-bar {
    display: flex;
}

.header-up-first-section {
    width: 45%;
    justify-content: center;
}

.header-up-second-section {
    justify-content: space-around;
    width: 20vw;
    margin-right: 20px;
}

.header-up-first-section,
.header-up-second-section {
    display: flex;
    align-items: center;
}

.header-up-side {
    display: flex;
    padding: 15px 0 0 30px;
    justify-content: space-between;
    align-items: center;
}

.hi-text {
    font-size: 18px;
}

.profile-text {
    margin-left: 20px;
    font-family: 'Heebo', sans-serif;

}

.clickable,
.icon-element,
.search-bar {
    transition: transform .2s;
    cursor: pointer;
}




.header-down-side {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

li:hover {
    transform: scale(1.1);

}

.search-bar:hover {
    transform: scale(1.1);

}


.clickable:hover {
    transform: scale(1.1);
}


button {
    width: 110px;
    height: 40px;
    border-radius: 25px;
    border: none;
    background-color: #0284c7;
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    transition: transform .2s;
}

.profile-buttons {
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.profile-second-side {
    display: flex;
    width: 50%;
    justify-content: end;
}

.profile-text-down {
    display: flex;
    font-size: 25px;
}

.profile-down-side {
    padding: 20px;
    display: flex;
    align-items: center;
    width: 35%;
    justify-content: center;
}

/* Header End */
.main-content {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px 20px 1fr;
    grid-row: 2/3;
    background-color: #d7ebf0;

}


.project-name-text:hover {
    cursor: pointer;
    text-decoration-line: underline;
    transform: scale(1.1);

}

.project-name-text {
    font-family: 'Heebo', sans-serif;
    transition: transform .2s;
    font-size: 20px;
    margin-bottom: 10px;

}

.project-p-text {
    font-family: sans-serif;
    font-style: italic;
    color: #606263
}

.project {
    width: 28vw;
    height: 10vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px 20px 30px 30px;
    justify-content: space-around;
    border-radius: 7px;
    border-left: 10px solid #fb923c;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


}

.project-icons {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    gap: 20px;
}

.project-icons>.clickable {
    width: 1.2vw;

}

.your-projects {
    grid-column: 1/2;
    grid-row: 2/3;
}

.your-projects {
    padding: 2rem;
    display: grid;
    gap: 20px 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.trending {
    padding-top: 10px;
    font-family: sans-serif;
}

.announcements {
    padding-right: 60px;
    font-family: sans-serif;
    padding-top: 40px;
    justify-content: start;
}

.your-project-text {
    padding-top: 40px;
    padding-left: 40px;
    font-family: sans-serif;
}

.main-content {
    display: grid;
}

.right-side {
    grid-column: 4/5;
    grid-row: 1/2;
    height: 75vh;
    padding-right: 30px;

}

/* Right Side Main Container */

.site-maintenance {
    font-family: sans-serif;
    margin-bottom: 5px;
    font-size: 14px;
}

.section-announcements p {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.section-announcements {
    width: 15vw;
    height: 5vw;
    padding: 1.4rem;
    border-bottom: 0.3px solid rgb(177, 173, 173);
}

.announcemenets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 2/3;
    width: 17vw;
    height: 16vw;
    margin-top: 21px;
    background-color: #fdffff;
    border-radius: 7px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.trending-container {
    margin-top: 20px;
}